@model Home_Budget_Manage.Models.ChangePasswordView

@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">   

        @if (ViewBag.ErrorMassage != null)
        {
            <ul><li class="text-danger">@ViewBag.ErrorMassage</li></ul>
        }     

        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)

        <div class="form-group">
            @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.newPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.newPassword, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.newConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.newConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

}

<br />
@if (Model != null)
{
<div>
    @Html.ActionLink("Back to Edit your information", "Edit")
</div>
<div>
   @Html.ActionLink("Back to your details", "Details")
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
